body{
	font-family: helvetica;
	background-color: #628c82;
	color: #black;	
	min-height:100%;
}

.icon{
	display: inline;
	padding-right: 10px;
}

#form{
	width: 200px;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: left;
}

label{
	margin-bottom: 5px
}

label, input {
    display: block
}

footer{
	text-align: right;
	position:fixed;
	width: 98%;
    bottom:0;
}

ul{
	list-style-type: none;
  	margin: 10;
  	padding: 50;

	overflow: hidden;
}

li{
	float: left;
}

a{
	font-size: 16px;
	list-style-type: none;
  	margin: 0;
  	padding: 50; 	
	overflow: hidden;
}

li a{
	display: block;
	background-color: #67b2a0;
	font-size: 20px;
  	color: black;
  	text-align: center;
  	padding: 20px 180px;
  	text-decoration: none;
}
