body{
	font-family: helvetica;
	background-color: #46B1C9;
	color: #black;	
	min-height:100%;
}

.icon{
	display: inline;
	padding-right: 10px;
}

nav{
	padding: 10px;
	text-align: center;
	font-size: 20px;	
	overflow: hidden;
}

ol{
	display: inline;
	float: center;
}

#form{
	width: 200px;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: left;
}

label{
	margin-bottom: 5px
}

label, input {
    display: block
}

footer{
	text-align: right;
	position:fixed;
	width: 98%;
    bottom:0;
}

