*{
	font-family: helvetica, sans-serif;
}
body{
	background-color: #628c82;
	color: #F2E2D2;
	
}
ul{
	list-style-type: none;
  	margin: 10;
  	padding: 50;

	overflow: hidden;
}

li{
	float: left;
}

a{
	font-size: 16px;
	list-style-type: none;
  	margin: 0;
  	padding: 5px; 	
	overflow: hidden;
}
li a{
	display: block;
	background-color: #67b2a0;
	font-size: 20px;
  	color: black;
  	text-align: center;
  	text-decoration: none;
	padding: 20px 180px;
}

h1{
	color:#000000;
	text-align: Left;
	font family: Courier New
	font: 15px;
}

p{
	color: ;
	margin-left: 15%;
	background-color: #877FFF;
}
h2{
	color: #000000;
	text-align: center;
}
h3{
	color: #000000;
	text-align: center;
}
div{
	text-align: center;
}
.categories{
	font-size: 16px;
	margin: auto;
	overflow: hidden;
	float: left;
	display: block;
	word-spacing: 100000px;
	font-size: 20px;
  	color: black;
  	text-align: center;
  	padding: 50px 200px;
  	text-decoration: none;	
}
a.one:link{
	font-size: 20px;
	background-color: #41f4eb;
  	color: black;
	width: 500px;
  	text-align: center; 
  	text-decoration: none;
  	display: inline-block;
}

a.login:link{

	text-decoration: none;
	text-align: left;

}
a.signUp:link{
	text-decoration: none;
	text-align: left;
}
.post{
	margin: auto;
	background-color: #41f4d6;
	height: 50px;
	width: 50px;
	width: 50%;
	padding: 10px;

}
a.post:link{
	text-align: center;
	color: black;
	text-decoration: none;
}
