#box1
{
position: relative;
margin 5% auto;
height; 400px;
backgrround: #fff;
}


#div1
{
	font-family: cursive;
	text-align: center;
	font-size: 40px;
	
}

.boxs
{
position: absolute;
top: -40px;
left: 90px;
box-sizing: border-box;
padding: 150px;
}


input[type = "text"], input[type = "password"]
{
display = block;
box-sizing: border-box;
margin-bottom: 20px;
padding: 4px
width: 220px;
height: 32px;
border: solid;
outline: none;
border-bottom: 1 px solid #aaa;
transition: 0.2s ease;
}


input[type = "submit"]
{
	margin-bottom: 28px;
	width; 110px;
	height: 32px;
	background: #003366;
	border:none;
	color: #ffffff;
	font-family: cursive;
	transition: 0.2s ease;
}
    
